footer.footer.pb-2.pt-3
	.container.d-flex.justify-content-between
		a(href="/").logo 
			img(src="img/general/logo.png", alt="")
		.contacts-block.flex-column.d-flex.text-right
			a(href="tel:+799999999").text-dark.subtitle.link-phone
				i.mr-2.fas.fa-phone.mr-4
				b +7-999-999-99
			a(href="mailto:+799999999").text-big.text-dark: b info@info.ru