extends templates/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
block content
	section.section-banner
		.container.banner-container
			.banner-text.text-white
				h1 ПРОФЕССИОНАЛЬНЫЙ ПРОМЫШЛЕННЫЙ КЛИНИНГ <span class='text-primary'>ТЕРМОГИДРОДИНАМИЧЕСКим методом ОЧИСТКи</span>
				.banner-subtitle Избавим от загрязнений любой сложности с гарантией результата
			.form-block.text-center
				.form-title.mb-4 Бесплатная тестовая очистка 10 М2
				form(action="")
					.form-header.mb-5 Введите ваши данные и мы проведём бесплатную тестовую уборку
					.form-group
						input(type="text" class="form-control" placeholder="Введите ваше имя")
					.form-group
						input(type="text" class="form-control" placeholder="Введите ваш телефон")
					.form-group.mb-4
						input(type="text" class="form-control" placeholder="Введите ваш E-Mail")
					button.btn.text-white.mb-4(type='submit') Отправить
					.form-footer Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с Политикой конфиденциальности
	section.section-cleaning
		.container
			.row
				.col-lg-6
					h2 <span class='text-primary'>ИЗБАВИмСЯ ОТ ЗАГРЯЗНЕНИЙ,</span> КОТОРЫЕ НЕ УХОДИЛИ ГОДАМИ
					.title-question.mb-3 — Разве такое возможно?
					p.mb-4 Возможно. И это не чудо, а фактическое свойство гидродинамической очистки, которая давно заслужила популярность в Европе и США. 
					p В России мы оказываем такие услуги с <span class='text-accent-big'>2017 года</span> 
	section.section-slider
		.container
			.row.mb-5
				.col-lg-8.offset-lg-2
					h2 ТОТ СЛУЧАЙ, КОГДА <span class='text-primary'>ВЫ НИЧЕМ НЕ РИСКУЕТЕ…</span>
					.subtitle Мы сделали промышленный клининг надежным и полностью безопасным и приготовили для вас специальные гарантии.
			.swiper-container.main-slider
				.swiper-wrapper
					.swiper-slide
						.row
							.col-5.slide-text.pt-5
								h3 100% безопасность <br>для поверхности 
								p Специалисты подбирают необходимое давление и температуру по каждому виду покрытия.
								p Во время тестовых работ покажем результат воздействия на поверхность и при выполнении договорных обязательств будем строго придерживаться согласованных характеристик.
							.col-7
								.embed-responsive.embed-responsive-4by3
									.embed-responsive-item.slide-photo(style='background-image: url(img/content/slide1.png)')
					.swiper-slide
						.row
							.col-5.slide-text.pt-5
								h3 УЛОЖИМСЯ В СРОК <br>ИЛИ ВЕРНЕМ ДЕНЬГИ
								p Умеем работать быстро и никогда не срываем сроки. Работаем в ночное время, выходные и праздничные дни. 
								p В договоре прописываются сроки  и ответственность, будьте уверены, если мы заходим на объект, то мы сделаем все вовремя.
								p Если есть риск не выполнить работу в заявленные сроки, наша компания не будет заключать договор и приступать к работе.
							.col-7
								.embed-responsive.embed-responsive-4by3
									.embed-responsive-item.slide-photo(style='background-image: url(img/content/slide2.png)')
					.swiper-slide
						.row
							.col-5.slide-text.pt-5
								h3 Если не справимся с загрязнением- <br>работаем бесплатно
								p На сегодняшний день наше оборудование справляется с большинством типов загрязнений любой сложности.
								p Если вы не получите результат, который был показан во время тестовых работ, то вся наша работа обойдется вам по реальной себестоимости.
							.col-7
								.embed-responsive.embed-responsive-4by3
									.embed-responsive-item.slide-photo(style='background-image: url(img/content/slide3.png)')
					.swiper-slide
						.row
							.col-5.slide-text.pt-5
								h3 Экологическая <br>безопасность
								p Работаем без агрессивных моющих средств! Нет коррозии, отравлений людей и вреда экологии.
								p В большинстве случаев загрязнения удается удалить и вовсе без применения чистящих составов. 
								p При необходимости соберем и утилизируем всю применяемую воду и образовавшуюся грязь.
							.col-7
								.embed-responsive.embed-responsive-4by3
									.embed-responsive-item.slide-photo(style='background-image: url(img/content/slide4.png)')
					.swiper-slide
						.row
							.col-5.slide-text.pt-5
								h3 Альтернатив <br>нет!
								p В настоящее время по эффективности и стоимости не существует аналогов предлагаемому методу очистки поверхности.

								p Наши специалисты всегда готовы продемонстрировать преимущества перед любыми другими технологиями.
							.col-7
								.embed-responsive.embed-responsive-4by3
									.embed-responsive-item.slide-photo(style='background-image: url(img/content/slide5.png)')
				.swiper-pagination.main-slider-pagination
				.col-5.swiper-button-container
					.swiper-button-prev.main-slider-prev
						i.fas.fa-arrow-left
						| Предыдущая<br>гарантия
					.swiper-count 01
					.swiper-button-next.main-slider-next
						i.fas.fa-arrow-right
						| Следующая<br>гарантия
	section.section-unlimited
		.container
			h2.mb-5.text-center БЕЗГРАНИЧНЫЕ ВОЗМОЖНОСТИ<br> ПРОМЫШЛЕННОГО КЛИНИНГА
			.row
				.col-lg-5
					p Гидродинамическая очистка (гидроджеттинг) – это подача водяной струи на загрязненную поверхность под высоким давлением от 250 Бар.
					p Благодаря высокой скорости подачи воды и нагреву до 150С0 удается нейтрализовать загрязнения любой сложности буквально за несколько секунд.
				.col-lg-6.offset-lg-1
					.embed-responsive.embed-responsive-16by9
						img.embed-responsive-item(src="img/content/item (2).jpg")
	section.section-catalog
		.container
			h2.text-center.mb-5 СПРАВЛЯЕМСЯ С ЗАГРЯЗНЕНИЯМИ, <br>От которых отказываются другие
			.row
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (2).jpg" data-toggle='lightbox' data-gallery='gallery1')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (2).jpg")')
						.gallery-item__title Старая краска и лак
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (3).jpg" data-toggle='lightbox' data-gallery='gallery1')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (3).jpg")')
						.gallery-item__title Цементные пятна
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (6).jpg" data-toggle='lightbox' data-gallery='gallery1')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (6).jpg")')
						.gallery-item__title Накипь и нагар
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (4).jpg" data-toggle='lightbox' data-gallery='gallery1')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (4).jpg")')
						.gallery-item__title СОЖ, технические масла, прессовка
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (5).jpg" data-toggle='lightbox' data-gallery='gallery1')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (5).jpg")')
						.gallery-item__title Штукатурка
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (1).jpg" data-toggle='lightbox' data-gallery='gallery1')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (1).jpg")')
						.gallery-item__title Промышленные загрязнения
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (7).jpg" data-toggle='lightbox' data-gallery='gallery1')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (7).jpg")')
						.gallery-item__title Атмосферные загрязнения
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (8).jpg" data-toggle='lightbox' data-gallery='gallery1')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (8).jpg")')
						.gallery-item__title Сложные загрязнения на фасадах
				.col-md-6.col-lg-4
					.gallery-item.gallery-item--no-photo
						.embed-responsive.embed-responsive-21by9
							.embed-responsive-item.gallery-item__text-desc Ещё более 500 видов <br>загрязнений
	section.section-catalog2
		.container
			h2.text-center.mb-5 СФЕРЫ ИСПОЛЬЗОВАНИЯ ГИДРОДЖЕТТИНГА
			.row
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (18).jpg" data-toggle='lightbox' data-gallery='gallery2')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (18).jpg")')
						.gallery-item__title Очистка фасадов зданий
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (17).jpg" data-toggle='lightbox' data-gallery='gallery2')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (17).jpg")')
						.gallery-item__title Очистка промышленных полов от масел и ГСМ
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (16).jpg" data-toggle='lightbox' data-gallery='gallery2')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (16).jpg")')
						.gallery-item__title Очистка покрасочных камер
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (15).jpg" data-toggle='lightbox' data-gallery='gallery2')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (15).jpg")')
						.gallery-item__title Очистка тротуарной плитки
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (14).jpg" data-toggle='lightbox' data-gallery='gallery2')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (14).jpg")')
						.gallery-item__title Очистка крытых парковок, паркингов
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (13).jpg" data-toggle='lightbox' data-gallery='gallery2')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (13).jpg")')
						.gallery-item__title Очистка брусчатки
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (12).jpg" data-toggle='lightbox' data-gallery='gallery2')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (12).jpg")')
						.gallery-item__title Очистка трубопровода и канализации
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (11).jpg" data-toggle='lightbox' data-gallery='gallery2')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (11).jpg")')
						.gallery-item__title Очистка спортивных покрытий
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (10).jpg" data-toggle='lightbox' data-gallery='gallery2')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (10).jpg")')
						.gallery-item__title Очистка мусоропровода и дымоходам
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (9).jpg" data-toggle='lightbox' data-gallery='gallery2')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (9).jpg")')
						.gallery-item__title Очистка крыш
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (20).jpg" data-toggle='lightbox' data-gallery='gallery2')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (20).jpg")')
						.gallery-item__title Очистка стен от граффити
				.col-md-6.col-lg-4
					.gallery-item
						.embed-responsive.embed-responsive-21by9
							a.embed-responsive-item(href="img/content/item (19).jpg" data-toggle='lightbox' data-gallery='gallery2')
								.img-fluid.gallery-item__photo.h-100(style='background-image: url("img/content/item (19).jpg")')
						.gallery-item__title Очистка детских и спортивных площадок
	section.section-before-after
		.container
			h2.text-center Невероятно, но мы это очистили
			.swiper-container.before-after-slider
				.swiper-wrapper
					.swiper-slide
						h3.text-center Очистка крыши
						#container1.twentytwenty-container
							img(src='img/content/roof.jpg')
							img(src='img/content/roof2.jpg')
					.swiper-slide
						h3.text-center Очистка крыши
						#container1.twentytwenty-container
							img(src='img/content/roof.jpg')
							img(src='img/content/roof2.jpg')
				.swiper-button-prev.swiper-before-after-prev <i class="fas fa-angle-left"></i>
				.swiper-button-next.swiper-before-after-next <i class="fas fa-angle-right"></i>
			.before-after__text.d-flex.justify-content-around
				span ДО
				span ПОСЛЕ
			.swiper-pagination.swiper-before-after-pagination
	section.section-form.py-3
		.container
			.row
				.col-lg-6.offset-lg-6
					.form-block.text-center
						.form-title.mb-4 Слышим. Находим решение. Действуем!
						form(action="")
							.form-header.mb-5 Мы готовы приступить к работе в течение 12 часов. Просто озвучьте нам задачу и удобное время для визита наших специалистов
							.form-group
								input(type="text" class="form-control" placeholder="Введите ваше имя")
							.form-group
								input(type="text" class="form-control" placeholder="Введите ваш телефон")
							.form-group
								input(type="text" class="form-control" placeholder="Введите ваш E-Mail")
							.form-group.mb-4
								textarea(rows="6" type="text" class="form-control" placeholder="Коротко опишите вашу задачу")
							button.btn.text-white.mb-4(type='submit') Отправить
							.form-footer Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с Политикой конфиденциальности
	section.section-instruments
		.container
			h2.text-center ЭКСЛЮЗИВНОЕ ОБОРУДОВАНИЕ В ЮФО
			.subtitle.w-75.m-auto Мы инвестировали в обучение и закупку оборудования десятки миллионов рублей, став первой и в настоящее время единственной компанией в Уральском федеральном округе, предлагающей гидродинамическую очистку поверхностей.
		